Mule/munit-order-system/src/main/app/munit-order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="orders.wsdl" service="OrderServiceService" port="OrderServicePort" serviceAddress="http://training-u.cloudhub.io/advanced/orders" doc:name="Web Service Consumer"/>
    <flow name="retrieveOrders">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="timeframe" value="#[message.inboundProperties.'http.query.params'.timeframe]" doc:name="Variable: Set timeframe"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.timeframe as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="XML to Java ArrayList">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="processOrders">
        <dw:transform-message doc:name="Transform Message: Populate Internation flights">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	international:payload filter $.'location' == 'international',
	domestic:payload filter $.'location' == 'domestic'
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
