Mule/bid-processing/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:file="http://www.mulesoft.org/schema/mule/file"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <flow name="AuctionService">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bids" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Consumed message: #[payload]" level="INFO" doc:name="Log Payload"/>
        <logger message="Started at time: #[function:now]" level="INFO" doc:name="Log TimeStamp"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="splitBids" doc:name="VM: splitBids"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="auction.service" doc:name="VM"/>
        </request-reply>
    </flow>
    <flow name="splitBidsFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="splitBids" doc:name="VM: splitBids"/>
        <set-variable variableName="MULE_REPLYTO_STOP" value="true" doc:name="Variable: MULE_REPLYTO_STOP"/>
        <dw:transform-message doc:name="Transform Message: splitByLinebreak" metadata:id="dbddd4b1-36c2-4d2b-90aa-2915eb5ce441">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload splitBy '\n']]></dw:set-payload>
        </dw:transform-message>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="process.bids" doc:name="VM:process.bids"/>
    </flow>
    <flow name="processBidsFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="process.bids" doc:name="VM: process.bids"/>
        <component class="com.mulesoft.EnricherAuctionComponent" doc:name="EnrichBids Java Component"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.mulesoft.HighestBidderAuctionComponent" doc:name="Highest Bidder Java Component"/>
        <logger message="Highest Bidder: #[payload]" level="INFO" doc:name="Log Payload"/>
        <logger message="Ended at time: #[function:now]" level="INFO" doc:name="Log TimeStamp"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="auction.service" doc:name="VM: auction.service"/>
    </flow>

</mule>
